/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #014972;
  --primary-color-light: #039bf900;
  --secondary-color: #fafafa;
  --tertiary-color: #1d242b;
  --fourth-color: #dde6ed;

  --tran-03: all 0.2s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.4s ease;
}

/* Estilos para encabezados y otros elementos de texto */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: bold;
  color: var(--tertiary-color);
}

/* Estilos para párrafos, enlaces, etc. */
p,
a,
li,
td,
input,
label {
  font-family: "Roboto";
}

body {
  min-height: 100hv;
  background: var(--secondary-color);
  transition: var(--tran-05);
}

ul {
  padding-left: 0;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 230px;
  padding: 10px 14px;
  background: var(--primary-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

.sidebar li {
  display: flex;
  height: 50px;
  list-style: none;
  align-items: center;
  margin-top: 10px;
}

.sidebar header img,
.sidebar .fa-solid {
  min-width: 60px;
  border-radius: 5px;
}

.sidebar .fa-solid {
  display: flex;
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .fa-solid {
  color: var(--secondary-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowgrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar header {
  position: relative;
}

.sidebar header .toggle {
  display: flex;
  position: absolute;
  top: 20%;
  right: 0px;
  height: 35px;
  width: 35px;
  color: var(--secondary-color);
  align-items: center;
  justify-content: center;
  font-size: 35px;
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar.close .toggle {
  width: 100%;
  top: 20%;
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar li a {
  display: flex;
  list-style: none;
  height: 100%;
  background: transparent;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background: var(--secondary-color);
}

.sidebar li a:hover .fa-solid,
.sidebar li a:hover .text {
  color: var(--primary-color);
}

.sidebar .menu-bar {
  display: flex;
  height: calc(100% - 55px);
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.sidebar .user-info {
  cursor: default;
}

.sidebar .user-info:hover {
  background: none;
}

.sidebar .user-info a {
  text-decoration: none;
  color: inherit;
}

/* CONTENIDO */
.home {
  position: relative;
  top: 0;
  left: 7%;
  height: auto;
  width: 90%;
  background: var(--secondary-color);
  transition: var(--tran-05);
  padding: 10px;
}

div.row.header {
  margin-bottom: 20px;
}

#busq {
  width: 70%;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}

#campobus {
  all: unset;
  border: 3px solid var(--primary-color);
  border-radius: 8px;
  padding: 5px;
  height: 18px;
  width: 60%;
}

#btnbuscar {
  all: unset;
  text-align: center;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 5px;
  padding: 5px 8px;
  width: 12%;
  margin-left: 2%;
}

h3 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

section#busqueda {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table#inventario{
  margin: 20px auto;
  text-align: center;
  color: var(--tertiary-color);
  border-radius: 5px;
  overflow: auto;
  table-layout: fixed;
  /*------------------------*/
  border-collapse: separate;
  border-spacing: 0 10px; /* Establece un espacio vertical de 10px entre las filas */
  width: 100%;

}

thead {
  text-align: center;
  height: 50px;
  color: var(--secondary-color);
  font-weight: 500;
  background: var(--primary-color);
}

tbody {
  background: var(--fourth-color);
}

tr {
  margin-bottom: 50px;
}

th.first{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 6%;

}

.last{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 6%;
}

th#nombre, th#desc, th#precio, th#proveedor, th#img{
  width: 15%;
}

th#stock{
  width: 6%;
}

td.first{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


div#btns {
  display: flex;
  justify-content: space-evenly;
}

a#addprod {
  width: 180px;
  text-align: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  background: var(--primary-color);
  display: block;
  margin: 10px;
  border-radius: 5px;
  padding: 5px 10px;
}

a#genPDF {
  width: 180px;
  text-align: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  background: var(--primary-color);
  display: block;
  margin: 10px;
  border-radius: 5px;
  padding: 5px 10px;
}

td.last.iconos {
  margin: 10px 0;
  color: var(--tertiary-color);
  font-size: 22px;
  justify-content: space-around;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

td.last.iconos a.linkicono {
  color: var(--tertiary-color);
  text-decoration: none;
}

td.last.iconos a.linkicono:hover {
  color: var(--primary-color);
}

.descripcion-corta {
  padding: 5px;
  padding-left: 20px;
  list-style-type: disc;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: start;
}

#img td {
  width: 100%;
  height: auto;
}

#img img {
  width: 30%;
  padding: 0; 
}

.tabla1 {
  position: relative;
  left: 165px;
  top: 120px ;
}

.busq1{
  margin-left: 110px;
}

i.lupa{
  color: var(--primary-color);
  font-size: 20px;
  margin: 0 10px;
}




/* Modal */

.modal-header{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.modal-header h1{
  color: var(--secondary-color);
}

.modal-header i{
  margin-right: 6px;
}

button.btn.btn-primary {
  color: var(--secondary-color);
  background: var(--primary-color);
  border: none;
}

button.btn.btn-secondary {
  border: none;
  background: var(--tertiary-color);
}

.paginador ul {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.paginador li{
  all: unset;
  width: 2%;
}

.pagada, .anulada{
  color: var(--secondary-color);
  background-color: #60a756;
  text-align: center;
  border-radius: 5px;
  padding: 4px 15px;
}

.anulada{
  background-color: #f36a6a;
}

.inactive{
  color: #CCC;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

section#busq_btn {
  display: flex;
  justify-content: space-between;
}
